<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>flatpickr</title>

    <link rel="stylesheet" href="/static/dist/bundle.css">

</head>

<body>

    <div class="d-flex justify-content-center bg-dark align-items-center h-100">
        <h1 class="text-muted p-5">flatpickr</h1>
    </div>
    <div class="d-flex justify-content-center bg-dark align-items-center  p-5">
        <div class="col-sm-3">

            <form>
                <div class="form-group row">
                    <label for="start" class="col-sm-2 col-form-label text-white">Start : </label>
                    <div class="col-sm">
                        <input type="text" class="form-control flatpickr js-flatpickr-time" id="start" value="2018-07-10 22:28:00" readonly/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="end" class="col-sm-2 col-form-label text-white">End : </label>
                    <div class="col-sm">
                        <input type="text" class="form-control flatpickr js-flatpickr-time" id="end" value="2018-08-10 10:30:00" readonly/>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="d-flex justify-content-center bg-dark align-items-center  p-5">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <a class="btn btn-outline-secondary text-white w-100" href="/">
                        Start
                    </a>
                </div>
                <div class="col-sm">
                    <a class="btn btn-outline-secondary text-white w-100" href="/datetime">
                        DateTime
                    </a>
                </div>

                <div class="col-sm">
                    <a class="btn btn-outline-secondary text-white w-100" href="/date">
                        Date
                    </a>
                </div>

                <div class="col-sm">
                    <a class="btn btn-outline-secondary text-white w-100" href="/time">
                        Time
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/dist/bundle.js"></script>
</body>

</html>